
@using Drive.WebApp.Models
@using PagedList
@using PagedList.Mvc;
@{
    Layout = null;
    var list = ViewBag.DS as IPagedList<DriveSchool>;
    var enumtype = ViewBag.type;
    var enumvalue = ViewBag.value;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--[if IE]> <meta name="renderer" content="webkit"><![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8">
    <title>驾校报名_学车驾校_考驾驶证_学驾照</title>
    <meta content="驾校学车,驾校报名" name="keywords">
    <meta content="找驾校就要找无隐性消费、上车快、通过率高的驾校，全国驾校排行榜，千万学员真实点评，让你轻松找到心仪的驾校！" name="description">

    <meta http-equiv="”Cache-Control”" content="”no-transform”">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/drive/cwcar.ico">
    <link rel="stylesheet" href="~/Content/drive/reset.css">
    <link rel="stylesheet" href="~/Content/drive/jx_list.css">
    <link rel="stylesheet" href="~/Content/drive/slider/css/css.css">

    <script src="~/Scripts/drive/hm.js"></script>
    <script src="~/Scripts/drive/jquery.1.12.4.js"></script>
    <script src="~/Scripts/drive/jxlist.js"></script>
    @* <link rel="stylesheet" type="text/css" href="~/Content/drive/bmap_autocomplete.css"> *@
    <script>

    </script>
</head>
<body>
    <link rel="stylesheet" href="~/Content/drive/comm_style.css">
    <link rel="stylesheet" href="~/Content/drive/font_949786_v8zsbvaxz6p.css">

    <div class="nav-wrap">
        <nav class="comment-header-nav">
            <!-- 联系 -->
            <div class="comment-header-contact">
                <div class="comment-header-left">
                    <!--<span class="VTargetSpan"></span>-->
                    <!--<img class="comment-header-vip-img" src="//img.58cdn.com.cn/dist/jxedt/pc/products/jxregister/images/vip.png" alt="">-->
                    <span class="comment-header-vip-describe" style="font-size: 20px">
                        <a>
                            @* <img src="/Content/drive/cw.png" alt=""> *@
                            网上学习
                        </a>
                        @* <i class="iconfont jxedt-VIP"></i> *@
                        @* <a href="http://vip.jxedt.com/" onclick="clickLog('from=JXEDT_HEADER_VIP')">VIP真题</a> *@
                    </span>
                    <span class="comment-header-phone-describe">
                        @* 驾校一点通学车热线： *@
                        @* <span class="comment-header-phone">400-011-8360</span> *@
                    </span>
                    <div class="comment-login-1" style="display: inline-block;">
                        @if (User.Identity.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                //@Html.AntiForgeryToken()

                                <span class="btn-span"><a href="javascript:;">Hello, @User.Identity.Name</a></span>
                                @*                             <span class="btn-span"> <a href="javascript:;" id="logout">退出系统</a></span> *@
                                <span class="btn-span">@Html.ActionLink("退出系统", "Logout", "Account") </span>


                            }
                        }
                        else
                        {
                            @*                         <span class="btn-span"><a href="http://user.jxedt.com/home/login" onclick="clickLog('from=JXEDT_HEADER_LOGIN')">登录</a></span> *@
                            @*                         <span class="btn-span"><a href="http://user.jxedt.com/registerNew/xy" target="_blank" onclick="clickLog('from=JXEDT_HEADER_SIGNIN')">注册</a></span> *@
                            <span class="btn-span">@Html.ActionLink("登录", "Login", "Account")</span>
                            <span class="btn-span">@Html.ActionLink("注册", "Register", "Account")</span>
                        }
                    </div>
                </div>
                <div class="comment-header-right">
                    <!--<span class="PhoneTargetSpan"></span>-->
                    <!--<img class="comment-header-phone-img" src="//img.58cdn.com.cn/dist/jxedt/pc/products/jxregister/images/phone.png" alt="">-->
                    <div class="comment-header-app">
                        @* <span>手机APP</span> *@
                        @* <ul class="down-popup"> *@
                        @*     <li><a target="_blank" onclick="clickLog('from=JXEDT_HEADER_APP')" href="http://www.jxedt.com/about">驾校一点通</a></li> *@
                        @*     <li><a target="_blank" onclick="clickLog('from=JLEDT_HEADER_APP')" href="http://j2.58cdn.com.cn/dist/jledt/vue-coach/static/_html/download.html">教练一点通</a></li> *@
                        @* </ul> *@
                    </div>
                    @* <a class="right-text" href="http://user.jxedt.com/registerNew/jx">驾校入驻</a> *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="right-text" target="_blank" href="/Home/Manage">驾校后台</a>
                    }
                </div>
            </div>
            <!-- 搜索 -->
            <div class=" comment-header-search">
                <div class="box">
                    <!-- 存放大图的容器-->
                    <div class="all">
                        <div class="top-img">
                            <div class="activeimg">
                                <img src="~/Content/drive/slider/img/1.jpg">
                                <img src="~/Content/drive/slider/img/2.jpg">
                                <img src="~/Content/drive/slider/img/3.jpg">
                                <img src="~/Content/drive/slider/img/4.jpg">
                                <img src="~/Content/drive/slider/img/5.jpg">
                            </div>
                            <div class="left">
                                <img src="~/Content/drive/slider/img/left.png">
                            </div>
                            <div class="right">
                                <img src="~/Content/drive/slider/img/right.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 导航 -->
            <div>
                <div class="comment-header-menu">
                    <ul class="comment-header-menu-ul"></ul>
                </div>
            </div>

        </nav>
    </div>
    <div class="commonhead_line" style="border-top: 1px solid #00C356;"></div>
    <div class="jx-list-wrap">
        <article class="jx-list">
            <div class="jx-list-position">
            </div>
            <div class="left-nav">
                <div class="jx-list-header">
                    <!--驾校搜索 start -->
                    <nav>


                        <div class="license-type">
                            <span>驾照类型：</span>
                            @* <a enumtype="license" enumvalue="" selectpath="" areastr="" citystr="bj" class="go_to  active " href="/Home/IndexNew?type='license'&value=''">不限</a> *@
                            @* <a enumtype="license" enumvalue="c1" selectpath="" areastr="" citystr="bj" class="go_to "  href="/Home/IndexNew?type='license'&value='c1'">C1</a> *@
                            @* <a enumtype="license" enumvalue="c2" selectpath="" areastr="" citystr="bj" class="go_to "  href="/Home/IndexNew?type='license'&value='c2'">C2</a> *@
                            @* <a enumtype="license" enumvalue="aa" selectpath="" areastr="" citystr="bj" class="go_to "  href="/Home/IndexNew?type='license'&value='aa'">A1/A2</a> *@
                            @* <a enumtype="license" enumvalue="bb" selectpath="" areastr="" citystr="bj" class="go_to "  href="/Home/IndexNew?type='license'&value='bb'">B1/B2</a> *@
                            <a enumtype="license" enumvalue="" selectpath="" areastr="" citystr="bj" class="  active " href="/Home/IndexNew?type=license&value=">不限</a>
                            <a enumtype="license" enumvalue="c1" selectpath="" areastr="" citystr="bj" class=" " href="/Home/IndexNew?type=license&value=c1">C1</a>
                            <a enumtype="license" enumvalue="c2" selectpath="" areastr="" citystr="bj" class=" " href="/Home/IndexNew?type=license&value=c2">C2</a>
                            <a enumtype="license" enumvalue="aa" selectpath="" areastr="" citystr="bj" class=" " href="/Home/IndexNew?type=license&value=aa">A1/A2</a>
                            <a enumtype="license" enumvalue="bb" selectpath="" areastr="" citystr="bj" class=" " href="/Home/IndexNew?type=license&value=bb">B1/B2</a>

                        </div>
                        <div class="price-between">
                            <span>价格区间：</span>
                            @* <a enumtype="price" enumvalue="" selectpath="" areastr="" citystr="bj" class="go_to  active ">不限</a> *@
                            @* <a enumtype="price" enumvalue="1" selectpath="" areastr="" citystr="bj" class="go_to ">￥3000以下</a> *@
                            @* <a enumtype="price" enumvalue="2" selectpath="" areastr="" citystr="bj" class="go_to ">￥3000-￥4000</a> *@
                            @* <a enumtype="price" enumvalue="3" selectpath="" areastr="" citystr="bj" class="go_to ">￥4000-￥5000</a> *@
                            @* <a enumtype="price" enumvalue="4" selectpath="" areastr="" citystr="bj" class="go_to ">￥5000以上</a> *@
                            <a enumtype="price" enumvalue="" selectpath="" areastr="" citystr="bj" class="  active " href="/Home/IndexNew?type=license&value=">不限</a>
                            <a enumtype="price" enumvalue="1" selectpath="" areastr="" citystr="bj" class=" " href="/Home/IndexNew?type=price&value=1">￥3000以下</a>
                            <a enumtype="price" enumvalue="2" selectpath="" areastr="" citystr="bj" class=" " href="/Home/IndexNew?type=price&value=2">￥3000-￥4000</a>
                            <a enumtype="price" enumvalue="3" selectpath="" areastr="" citystr="bj" class=" " href="/Home/IndexNew?type=price&value=3">￥4000-￥5000</a>
                            <a enumtype="price" enumvalue="4" selectpath="" areastr="" citystr="bj" class=" " href="/Home/IndexNew?type=price&value=4">￥5000以上</a>
                        </div>

                    </nav>

                    <!--驾校搜索 end   -->
                    <div class="row jx-list-line"></div>
                    <!--驾校列表 start -->
                    <div class="row jx-list-page" id="schoollist">
                        @foreach (var item in list)
                        {
                            <div class="row jx-list-detail-page">
                                <div class="col-md-2">
                                    <a href="@item.ActionUrl" target="_blank">
                                        <img src="@item.ImageUrl"
                                             alt="@item.Name">
                                    </a>
                                </div>
                                <div class="col-md-6 col-md-offset-1 jx-info">
                                    <p class="jx-list-info">
                                        <span>

                                            <a href="@item.ActionUrl" target="_blank">
                                                @item.Name
                                            </a>
                                        </span>
                                        <span class="JXMLXing_drill5"></span>
                                        <!--<img src="//img.58cdn.com.cn/dist/jxedt/pc/products/jxdetail/images/drill5.png" alt="">-->
                                        <span class="JXMLJian"></span>
                                        <!--<img class="jian" src="//img.58cdn.com.cn/dist/jxedt/pc/products/jxdetail/images/jian.png" alt="">-->
                                    </p>
                                    <p class="jx-list-address">
                                        <span>驾校地址：</span>
                                        <span>@item.Address</span>
                                    </p>
                                    <p class="jx-list-star">
                                        <img src="~/Scripts/drive/star.png">
                                        <img src="~/Scripts/drive/star.png">
                                        <img src="~/Scripts/drive/star.png">
                                        <img src="~/Scripts/drive/star.png">
                                        <img src="~/Scripts/drive/star.png">
                                        <span>@item.Comment</span>
                                    </p>
                                    <p class="jx-list-class">
                                        <span>班型：</span>
                                        <a href="@item.ActionUrl" target="_blank">
                                            @foreach (var t in item.Type)
                                            {
                                                <span>@t</span>
                                            }

                                        </a>
                                    </p>
                                </div>
                                <div class="col-md-2 jx-distance">
                                    <p class="jx-list-money">￥@item.Money</p>
                                </div>
                            </div>
                        }

                    </div>
                    <!--驾校列表 end   -->
                    <!-- 分页按钮 -->
                    <div class="page-warp">
                        <div class="page-item">




                            @{
                                var prep = list.HasPreviousPage ? list.PageNumber - 1 : 1;
                                <a class="page-btn" href=@Url.Action("IndexNew", "Home", new { page = prep ,type=enumtype,value=enumvalue})>&lt;</a>

                            }



                            @for (int i = 1; i <= list.PageCount; i++)
                            {
                                <a class="page-btn" href=@Url.Action("IndexNew", "Home", new { page = i ,type=enumtype,value=enumvalue})>@i</a>
                            }

                            @if (list.HasNextPage)
                            {
                                var next = list.PageNumber + 1;
                                <a class="page-btn" href=@Url.Action("IndexNew", "Home", new { page = next,type=enumtype,value=enumvalue })>&gt;</a>
                            }
                            @* <a href="http://jiaxiao.jxedt.com/index_2/"> *@
                            @*     &gt; *@
                            @* </a> *@
                            @* @Html.PagedListPager(Model, page => Url.Action("IndexNew", new { page })) *@

                        </div>
                    </div>
                </div>
            </div>
            <div class="right-nav">
                <!--帮您找驾校-->
                <link rel="stylesheet" href="~/Content/drive/font_700844_fzp3tfpjzio.css">
                <div>
                    <a class="right-nav-img-admission" href="http://user.jxedt.com/registerNew/jx" target="_blank"></a>
                </div>
                <!--驾校广告位-->
                <!--全国-->
                <div class="jx-list-recommend">
                    <p class="jx-recommend">驾校推荐</p>

                    <div class="jx-recommend-imgs">
                        <a href="javascript:void(0)" data-track="JXEDT_JXLB_GG_1">
                            <img src="~/Content/drive/jxc_xwyd_1.png" alt="" srcset="">
                        </a>
                    </div>

                    <div class="jx-recommend-imgs">
                        <a href="javascript:void(0)" data-track="JXEDT_JXLB_GG_2">
                            <img src="~/Content/drive/jxc_xwyd_1.png" alt="" srcset="">
                        </a>
                    </div>

                    <div class="jx-recommend-imgs">
                        <a href="javascript:void(0)" data-track="JXEDT_JXLB_GG_3">
                            <img src="~/Content/drive/jxc_xwyd_1.png" alt="" srcset="">
                        </a>
                    </div>

                    <div class="jx-recommend-imgs">
                        <a href="javascript:void(0)" data-track="JXEDT_JXLB_GG_4">
                            <img src="~/Content/drive/jxc_xwyd_1.png" alt="" srcset="">
                        </a>
                    </div>

                    <div class="jx-recommend-imgs">
                        <a href="javascript:void(0)" data-track="JXEDT_JXLB_GG_5">
                            <img src="~/Content/drive/jxc_xwyd_1.png" alt="" srcset="">
                        </a>
                    </div>

                </div>

            </div>
        </article>
    </div>
    <script src="~/Content/drive/hits.js"></script>
    <link rel="stylesheet" href="~/Content/drive/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/drive/footer.css">
    <div id="footer" onclick="clickLog('from=JXEDT_FUCENG_LIJS')" style="z-index: 999; left: -3000px;">
        <a class="nh" target="_blank">
            <img class="f" border="0" src="~/Content/drive/newfooter.png">
        </a>
        <img class="person-png" src="~/Content/drive/zhangyishan.png" alt="">
        <a class="noheight" href="javascript:;">
            <img class="fx" src="~/Content/drive/newfooterclose.png">
        </a>
    </div>
    <div class="left-layer" style="left: 0px;">
        @* <img src="~/Content/drive/left-layer.png"> *@
    </div>
    <ul class="right-nav-common" style="display: none;">
        <li class="downApp">
            <a target="_blank" href="">
                <div class="downApp-icon"></div>
            </a>
            @* <div class="downApp-alert"></div> *@
        </li>
        <li class="opinion">
            <a target="_blank" href="">
                <div class="opinion-icon"></div>
            </a>
            <div class="opinion-alert"><a target="_blank" href="">意见反馈</a></div>
        </li>
        <li class="service">
            <div class="service-icon"></div>
            <div class="service-alert"><span>400-900-9260</span></div>
        </li>
        <li class="gotop">
            <div class="gotop-icon"></div>
            <div class="gotop-alert"><span>回到顶部</span></div>
        </li>
    </ul>
    <div class="hide">
    </div>
    <footer class="comment-footer">
        <div class="comment-footer-external">
            <div class="external-header">
                <span class="external-header-span">
                    <a data-external="external" href="javascript:void(0);" class="active_footer">友情链接</a>
                </span>
                <span></span>
                <span></span>
                <!--<span>
                        <a data-external="recommend" href="javascript:void(0);">推荐驾校</a>
                    </span>-->
            </div>
            <!-- <div class="external-centext-tab"> -->
            <div class="external-centext" style="display: block;">
                @* <span> *@
                @*     <a href="http://baa.bitauto.com/" title="汽车论坛" target="_blank">汽车论坛</a> *@
                @* </span> *@
                <span>
                    <a href="http://qiche.cncn.com/" title="长途汽车查询" target="_blank">长途汽车查询</a>
                </span>
                <span>
                    <a href="http://www.xincheping.com/" title="新车评网" target="_blank">新车评网</a>
                </span>
                <span>
                    <a href="http://www.tangdou.com/" title="糖豆网" target="_blank">糖豆网</a>
                </span>
                <span>
                    <a href="http://www.niuche.com/" title="牛车网" target="_blank">牛车网</a>
                </span>
                <span>
                    <a href="http://www.cnhuadong.net/" title="华东在线" target="_blank">华东在线</a>
                </span>
                <span>
                    <a href="http://jzwcom.com/" title="记者网" target="_blank">记者网</a>
                </span>
                <span>
                    <a href="http://hz.ganji.com/" title="杭州赶集网" target="_blank">杭州赶集网</a>
                </span>
                <span>
                    <a href="http://www.bitauto.com/" title="汽车" target="_blank">汽车</a>
                </span>
                <span>
                    <a href="http://che.315che.com/" title="车型大全" target="_blank">车型大全</a>
                </span>
                <span>
                    <a href="http://www.d1ev.com/" title="电动汽车" target="_blank">电动汽车</a>
                </span>
                <span>
                    <a href="http://www.qichezhan.cn/" title="汽车票查询" target="_blank">汽车票查询</a>
                </span>
                <span>
                    <a href="http://www.gaibar.com/" title="改装" target="_blank">改装</a>
                </span>
                <span>
                    <a href="http://www.auto.hc360.com/" title="慧聪汽车网" target="_blank">慧聪汽车网</a>
                </span>
                <span>
                    <a href="http://sjz.focus.cn/" title="石家庄房产" target="_blank">石家庄房产</a>
                </span>
                <span>
                    <a href="http://jipiao.ly.com/" title="机票查询" target="_blank">机票查询</a>
                </span>
                <span>
                    <a href="http://car.xgo.com.cn/" title="如何选车" target="_blank">如何选车</a>
                </span>
                <span>
                    <a href="http://dealer.bitauto.com/" title="汽车4S店" target="_blank">汽车4S店</a>
                </span>
                <span>
                    <a href="http://post.8684.cn/" title="邮政编码查询" target="_blank">邮政编码查询</a>
                </span>
                <span>
                    <a href="http://www.qqbaobao.com/" title="亲宝网" target="_blank">亲宝网</a>
                </span>
                <span>
                    <a href="http://www.china2car.com/" title="全纳二手车网" target="_blank">全纳二手车网</a>
                </span>
                <span>
                    <a href="http://job.dajie.com/" title="找工作" target="_blank">找工作</a>
                </span>
                <span>
                    <a href="http://chaiche.chexun.com/" title="拆车坊" target="_blank">拆车坊</a>
                </span>
                <span>
                    <a href="http://car.bitauto.com/" title="汽车大全" target="_blank">汽车大全</a>
                </span>
                @* <span> *@
                @*     <a href="http://news.xgo.com.cn/" title="点评新闻" target="_blank">点评新闻</a> *@
                @* </span> *@
                <span>
                    <a href="http://news.gaotie.cn/" title="高速铁路" target="_blank">高速铁路</a>
                </span>
                <span>
                    <a href="http://www.wenzhousx.com/" title="视线" target="_blank">视线</a>
                </span>
                <span>
                    <a href="http://www.qianlima.com/" title="千里马招标网" target="_blank">千里马招标网</a>
                </span>
                <span>
                    <a href="http://www.cnpickups.com/" title="皮卡车大全" target="_blank">皮卡车大全</a>
                </span>
                <span>
                    <a href="http://www.61baobao.com/" title="儿歌" target="_blank">儿歌</a>
                </span>
                @* <span> *@
                @*     <a href="http://news.szhk.com/" title="最新新闻" target="_blank">最新新闻</a> *@
                @* </span> *@
                <span>
                    <a href="http://tuanche.com/" title="汽车团购" target="_blank">汽车团购</a>
                </span>
                <span>
                    <a href="http://www.cheping.com.cn/" title="车评网" target="_blank">车评网</a>
                </span>
                <span>
                    <a href="http://db.auto.sina.com.cn/" title="车型大全" target="_blank">车型大全</a>
                </span>


            </div>



            <!-- </div> -->
        </div>
        <div class="comment-footer-about">
            <div class="row comment-footer-logo">
                <div>
                    <div class="comment-footer-image">
                        @* <img src="/Content/drive/cw.png" alt=""> *@
                        <h2>网上学习</h2>
                    </div>
                    <div class="comment-footer-describe">
                    </div>
                </div>
                <p class="comment-footer-org">Copyright © 2003-2014 深圳市成为信息技术有限公司 All Rights Reserve<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank"><span>粤ICP备08101333号-6 </span></a></p>
                <strong>全国免费咨询热线：</strong>400-900-9260
            </div>
            <div class="row">
                <div class="row comment-footer-web">
                    <a href="http://www.jxedt.com/about/jianjie.asp" target="_blank"></a>
                    <span></span>
                    <a href="http://www.jxedt.com/about/sitemap.asp" target="_blank"></a>
                    <span></span>
                    <a href="http://www.jxedt.com/about/link.asp" target="_blank"></a>
                    <span></span>
                    <a href="http://www.jxedt.com/about/laws.asp" target="_blank"></a>
                    <span></span>
                    <a href="http://www.jxedt.com/help.asp" target="_blank"></a>
                    <span></span>
                    <a href="http://www.jxedt.com/about/lianxi.asp" target="_blank"></a>
                </div>
                <div class="row">
                    <a href="http://www.jxedt.com/" target="_blank"></a>
                    <a href="http://jiaxiao.jxedt.com/" target="_blank"></a>
                    <a href="http://jl.jxedt.com/" target="_blank"></a>
                    <a href="http://pl.jxedt.com/" target="_blank"></a>
                    <a href="http://kaoshi.jxedt.com/" target="_blank"></a>
                    <a href="http://www.jxedt.com/about/" target="_blank"></a>
                </div>
                <div class="row">
                    <p class="comment-footer-org"></p>
                </div>
            </div>
            <div class="row">
                <div>
                    @*                     <img src="~/Content/drive/app_code.png" alt=""> *@
                </div>
                <div>
                    <p class="comment-footer-app"></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/drive/referrer_jxedt_pc.js"></script>
    <script src="~/Scripts/drive/footer.js"></script>
    <script src="~/Scripts/drive/common_footer.js"></script>

    <script src="~/Scripts/drive/slider/js/index.js" type="text/javascript" charset="utf-8">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".page-warp a").each(function (index) {
                console.log($(".page-warp a"));
                $("a").eq(index).click(function () {
                    $(".page-warp a").removeClass("active");
                    $(this).addClass("active");
                });
            });

        });


        $(".go_to").click(function () {
            var enumType = this.getAttribute("enumType");
            var enumValue = this.getAttribute("enumValue");
            var selectpath = this.getAttribute("selectpath");
            var areastr = this.getAttribute("areastr");
            var citystr = this.getAttribute("citystr");
            console.log(enumType, enumValue);
            $("#schoollist").empty();
            //           $.get('/Home/IndexNew?type=' + enumType + '&value=' + enumValue);
        });
    </script>
</body>
</html>
